{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<form id="form" method="post">

     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" >
				<!-- <form id="form" method="post"> -->
					{% csrf_token %} 
					<!-- <p>{{form.as_p}}</p> -->
					
					<!-- <div class="col-lg-4 col-md-6 mb-4">
						<label for="country">user_name:</label>
						{{ form_city.user_name }}
						
						<br>

						<label for="country">phone_number:</label>
						{{ form_city.phone_number }}
						
						<br>

						<label for="country">city:</label>
						{{ form_city.city }}
						
						<br>

						<label for="country">address:</label>
						{{ form_city.address }}
						
						<br>

						<label for="country">zip:</label>
						{{ form_city.zip }}
						
						<br>

						<label for="country">status:</label>
						{{ form_city.status }}
						
					
					  </div> -->
					
					  <!-- <div > -->
						
							{% for add in addresses %}
							{% if  add.status %}
							<a href="{% url 'store:new_address_checkout' order.id %}" class="float-right btn btn-sm btn-success"><i class="fa fa-plus"></i>new address</a>
								{{ AddressChoices_Form_initial|crispy}}
							<!-- <div class="col-md-6">
								<div class="card mb-3 {% if add.status %}border-secondary shadow{% endif %} address {{add.id}}address">
									
									
									<div class="card-body">
										<p class="card-text">{{add.address}}</p>
										<p class="card-text">{{add.phone_number}}</p>
									</div>
									<div class="card-footer ">
										<i class="fa fa-check-circle text-success check{{add.id}}check"></i>
										is active
										<a href="{% url 'store:update_address' add.id %}" class="float-right btn btn-sm btn-success"><i class="fa fa-edit"></i>edit</a>								   
									</div>
																								
									
									
										

								</div>                   
							</div> -->

							<!-- <a href="{% url 'store:my_address' %}" >							   

								<div class="col-md-6">
									<div class="card mb-3">										
										<div class="card-body">
											<a href="{% url 'store:my_address' %}" class="float-left btn btn-sm btn-primary"><i class="fa fa-edit"></i>select other addresses</a>

											<p class="card-text"></p>
										</div>
																																		
									</div>                   
								</div>
							</a>	 -->
							{% endif %}	
							{% empty %}
								
							<p>{{form|crispy}}</p>
														
							{% endfor %}
							
							<hr>

							

							{{order_comment|crispy}}

							
							
							


						
				
					<!-- </div> -->
					<!-- <input id="form-button" class="btn btn-success btn-block" type="submit" value="pay"> -->
			
				<!-- </form> -->
			</div>
			
			
			<!-- <label for="country">user_name</label>
					<input id="city" name="city" type="text" value='{{form_city.user_name}}'> -->
						
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'store:cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				{% for item in order_details %}
				<div class="cart-row">
					<div style="flex:2"><img  class="row-image" src="{{ item.product.images.first.image_url}}"  alt="" width="50" height="50"></div>
					<div style="flex:2"><p>{{item.product}}</p></div>
					<div style="flex:1"><p>تومان{{item.price|floatformat:0}}</p></div>
					<div style="flex:1"><p> x {{item.quantity}}</p></div>
					

				</div>

				{% endfor %}
				

				<h5>Items:   {{order.get_total_quantity}}</h5>
				<h5>Total:  تومان {{order.get_total_price|floatformat:0}}</h5>
				
				
			</div>
			<input id="form-button" class="btn btn-success btn-block" type="submit" value="pay">
			
		</div>
		
	</div>
	
</form>


<br>
<br>



{% endblock content %}