{% extends 'store/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <h3>  پسورد جدید خود را وارد کنید </h3>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="بروز رسانی پسورد">
  </form>
 -->


  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p style="text-align: right;"> پسورد جدید خود را وارد کنید
            </p>
          
            <div class="card">
                <div class="card-header">{{ block.super }}</div>
                <div class="card-body">
                    <form method="post" novalidate style="text-align: right;">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">{{ 'بروز رسانی پسورد'|capfirst }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}