{% extends 'store/main.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2  style="text-align: center;"> باز نشانی رمز</h2>
            <p style="text-align: right;">آیا شما رمز خود را فراموش کرده اید؟</p>
            <p style="text-align: right;">لطفا شماره موبایل خود را در فیلد زید وارد نمایید</p>
          
            <div class="card">
                <div class="card-header">{{ block.super }}</div>
                <div class="card-body">
                    <form method="post" novalidate style="text-align: right;">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">{{ 'باز نشانی رمز'|capfirst }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}